
<div class="wrapper">
    <h2>Sobre nós</h2>
    <ul>
        <li>compartilhe conteúdos úteis na área de tecnologia</li>
        <li>informe sugestões de projetos</li>
        <li>monte seu time de hackathon</li>
        <li>compartilhe vagas</li>
    </ul>

    <p>
        Agende uma consultoria de carreira (grátis e sem letra miúda).
    </p>
    <p>
        <a class="btn"
            href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3yBcZWgyv2gMBvYaqnshuHj1LRU1qh3lyGQGdN1JSP68jWAU3sD0mzaxaUX1cUdIMuWCSfvRhS">
            Agendar
        </a>
    </p>
</div>
