
<div data-grid="center" class="hero-content">
    <div class="wrapper hero-parallax-container">
        <h2 class="hero-title">Comunidade de desenvolvedores</h2>
        <p class="hero-excerpt">Eventos, vagas e consultoria em TI.</p>
        <p class="hero-social">
            <a href="https://github.com/agenciagift" class="hero-cta__btn" target="_blank">
                {% include svg/github.svg %}
            </a>
            <a href="https://chat.whatsapp.com/CSnCKKPRST3JfY695TsSGL" class="hero-cta__btn" target="_blank">
                {% include svg/whatsapp.svg %}
            </a>
            <a href="https://www.youtube.com/channel/UC91yWDFDN74PiYI-xbmE8IA" class="hero-cta__btn" target="_blank">
                {% include svg/youtube.svg %}
            </a>
            <a href="https://www.linkedin.com/groups/13936417/" class="hero-cta__btn" target="_blank">
                {% include svg/linkedin.svg %}
            </a>
        </p>
    </div>
</div>

<div class="video-frame">
    <video id="top-video-background" src="{{ site.baseurl }}/midia/meeting.mp4" autoplay loop muted playsinline></video>
    <script>
        (function(){
            var topVideoBackground = document.getElementById('top-video-background');
            var heroParallaxContainer = document.querySelector('.hero-parallax-container');
            var heroHeight = document.querySelector('.section-hero').offsetHeight;
            topVideoBackground.setAttribute('hidden', true);
            heroParallaxContainer.setAttribute('hidden', true);
            window.addEventListener('load', function(){
                topVideoBackground.removeAttribute('hidden');
                heroParallaxContainer.removeAttribute('hidden');
                topVideoBackground.play();
            });
            window.addEventListener('scroll', function(){
                if (scrollY < heroHeight + heroParallaxContainer.offsetHeight){
                    heroParallaxContainer.style.transform = 'translateY('+ scrollY / 2 +'px)';
                    topVideoBackground.style.transform = 'translateY('+ scrollY / 3 +'px)';
                }
            });
        })()
    </script>
</div>
